{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MalariaDetection</title>
        <link rel="stylesheet" href="{% static 'malaria-home.css' %}">
    </head>
    <body background="/static/pic1.jpg" style="background-size: cover; height: 100vh; background-position: center;">
      <section>
        <div class="header">
            <img src="/static/vision.jpg" alt="logo" />
            <a href="#default" class="logo">MALvision </a>
            <div class="header-right">
              <a class="/after-predict" href="/">HOME</a>
              <a href="/about">ABOUT</a>
              <a href="/contact">CONTACT</a>
              <a href="#contact">SERVICE</a>
              <a href="#about">NEWS</a>
              <a href="#about">FAQ</a>

            </div>
          </div>
        </section>
    