{% include "header.html" %}

        <section>
          <div class="second">
            <h1>WELCOME</h1>
            <h1>TO</h1>
           <h1>Malaria Detection System</h1>
           <button  id = "btn" style="font-size: 16px; padding: 20px 50px; margin: 110px 110px;display: inline-block;text-decoration: none; background-color: rgb(0, 255, 208); font-size:larger;cursor: pointer;" type="button"><a href="/about-Us">Predict</a></button>
           
        </div>
        

        </section>
    </body>
</html>